@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
body{
    background-color: #212529;
}

/* navbar styling */

.navbar{
    background-color: #212529;
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
}
 
/* form styling */
.form{
    margin-left: 50px;
    margin-right: 50px;
}
hr{
    height: 5px;
    color: black;
    background-color: white;
    border-radius: 3px;
}
input[type="checkbox"]{
    height: 15px;
    width: 15px;
    border-radius: 4px;
}
.name_tag{
    font-size: large;
}
#name{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
.about_tag{
    font-size: large;
}
#about_me{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
.work_tag{
    font-size: large;
}
#resume_link{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
#email_id{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
#work_status{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#work_status_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project1_link{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
#project2{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project2_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project3{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project3_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project4{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project4_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project5{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project5_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}

.hide_name{
    display: hidden;
}
#programming_language{
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.prog_lang{
    cursor: pointer;
}
.genrate{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gen_btn{
    font-size: 25px;
    width: 150px;
    height: 50px;
}

/* footer styling */

#logo_img{
    animation: bounce 2s infinite ease-in alternate;
}
@keyframes bounce {
    0%{
        transform:translateY(0px)
    }
    100%{
        transform: translateY(10px);
    }
}
.foot{
    font-size: 20px;
}
