@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
body{
    background-color: #212529;
}
/* navbar styling */

.navbar{
    background-color: #212529;
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
}
 
/* form styling */
.form{
    margin-left: 50px;
    margin-right: 50px;
}
hr{
    height: 5px;
    color: black;
    background-color: white;
    border-radius: 3px;
}
input[type="checkbox"]{
    height: 15px;
    width: 15px;
    border-radius: 4px;
}
/* form title section */
.name_tag{
    font-size: larger;
}
#name{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
/* form subtitle section */
.about_tag{
    font-size: larger;
}
#about_me{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
/* form work section */
.work_tag{
    font-size: larger;
}
#resume_link{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
#email_id{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
#work_status{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#work_status_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project1_link{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px ;
}
#project2{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project2_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project3{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project3_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project4{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project4_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project5{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
#project5_link{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px ;
}
/* form skills/tech section */
.skill_tag{
    font-size: larger;
}
#hide_name{
    display: none;
    background-color: white;
    color: black;
    padding: 3px;
    box-sizing: content-box;
    border-radius: 2px;
}
#img{
    margin: 2rem;
}

#system > div:hover #hide_name{
    display: inline;
}
#system {
    display: flex;
}
#system > div{
    margin-left: 20px;
    margin-right: 20px;
}

#programming_language > div:hover #hide_name{
    display: inline;
}
#programming_language {
    display: flex;
}
#programming_language > div{
    margin-left: 20px;
    margin-right: 20px;
}

#frontend_language > div:hover #hide_name{
    display: inline;
}
#frontend_language {
    display: flex;
}
#frontend_language > div{
    margin-left: 20px;
    margin-right: 20px;
}

#backend_language > div:hover #hide_name{
    display: inline;
}
#backend_language {
    display: flex;
}
#backend_language > div{
    margin-left: 20px;
    margin-right: 20px;
}

#mobile_app_devlopment > div:hover #hide_name{
    display: inline;
}
#mobile_app_devlopment {
    display: flex;
}
#mobile_app_devlopment > div{
    margin-left: 20px;
    margin-right: 20px;
}

#aI_ML > div:hover #hide_name{
    display: inline;
}
#aI_ML {
    display: flex;
}
#aI_ML > div{
    margin-left: 20px;
    margin-right: 20px;
}

#database > div:hover #hide_name{
    display: inline;
}
#database {
    display: flex;
}
#database > div{
    margin-left: 20px;
    margin-right: 20px;
}

#data_visualization > div:hover #hide_name{
    display: inline;
}
#data_visualization {
    display: flex;
}
#data_visualization > div{
    margin-left: 20px;
    margin-right: 20px;
}

#devops > div:hover #hide_name{
    display: inline;
}
#devops {
    display: flex;
}
#devops > div{
    margin-left: 20px;
    margin-right: 20px;
}

#bASS > div:hover #hide_name{
    display: inline;
}
#bASS {
    display: flex;
}
#bASS > div{
    margin-left: 20px;
    margin-right: 20px;
}

#framework > div:hover #hide_name{
    display: inline;
}
#framework {
    display: flex;
}
#framework > div{
    margin-left: 20px;
    margin-right: 20px;
}

#testing > div:hover #hide_name{
    display: inline;
}
#testing {
    display: flex;
}
#testing > div{
    margin-left: 20px;
    margin-right: 20px;
}

#software > div:hover #hide_name{
    display: inline;
}
#software {
    display: flex;
}
#software > div{
    margin-left: 20px;
    margin-right: 20px;
}

#static_site_gen > div:hover #hide_name{
    display: inline;
}
#static_site_gen {
    display: flex;
}
#static_site_gen > div{
    margin-left: 20px;
    margin-right: 20px;
}

#game_engine > div:hover #hide_name{
    display: inline;
}
#game_engine {
    display: flex;
}
#game_engine > div{
    margin-left: 20px;
    margin-right: 20px;
}

#automation > div:hover #hide_name{
    display: inline;
}
#automation {
    display: flex;
}
#automation > div{
    margin-left: 20px;
    margin-right: 20px;
}

#blockchain > div:hover #hide_name{
    display: inline;
}
#blockchain {
    display: flex;
}
#blockchain > div{
    margin-left: 20px;
    margin-right: 20px;
}

#others > div:hover #hide_name{
    display: inline;
}
#others {
    display: flex;
}
#others > div{
    margin-left: 20px;
    margin-right: 20px;
}
/* form social section */

.social_tag{
    font-size: larger;
}
#github{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 40px;
}
#twitter{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 28px;
}
#codepen{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 23px;
}
#dev{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 57px;
}

#linkedin{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 25px;
}
#kaggle{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 35px;
}
#facebook{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 20px;
}
#instagram{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 10px;
}
#dribble{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 35px;
}
#behance{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 22px;
}
#hashnode{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 18px;
}
#medium{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 25px;
}
#youtube{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 30px;
}

#hackerank{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
}
#hackerearth{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
}

#leetcode{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 17px;
}

#topcoder{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 22px;
}
#discord{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 25px;
}
#rss{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 5px;
    margin-left: 57px;
}
/* form add_on section */
.add_tag{
    font-size: larger;
}
/* form support section */
.support_tag{
    font-size: larger;
}
#buy_me_coffee{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 15px;
}
#patreon{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 15px;
}
/* form genrate md section */
.genrate{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gen_btn{
    font-size: 25px;
    width: 250px;
    height: 50px;
}

/* footer styling */

#logo_img{
    animation: bounce 2s infinite ease-in alternate;
}
@keyframes bounce {
    0%{
        transform:translateY(0px)
    }
    100%{
        transform: translateY(10px);
    }
}
.foot{
    font-size: 20px;
}
