@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
body{
    background-color: #212529;
}

/* navbar styling */

.navbar{
    background-color: #212529;
}
 
/* form styling */

#programming_language{
    height: 80px;
    width: 80px;
    cursor: pointer;
    text-align: center;
}
.prog_lang{
    cursor: pointer;
}
.form{
    margin-left: 50px;
    margin-right: 50px;
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
}

/* footer styling */

#logo_img{
    animation: bounce 2s infinite ease-in alternate;
}
@keyframes bounce {
    0%{
        transform:translateY(0px)
    }
    100%{
        transform: translateY(10px);
    }
}
.foot{
    font-size: 20px;
}
